
body{
    border:50px solid white;
    
}  


.home{
    background-image: url("./images/back.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 200px;
    

}

.homeheading{
    padding:5px ;
    margin:5px ;
}
 

.mouseclick{

    padding-top: 30px;
    padding-bottom: 20px;

}


.aboutus{
    text-align: center;
    padding-top:10px ;
    margin:5px ;
}

