 


.home{
    background-image: url("./images/back.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 200px;
    
}

.homeheading{
    padding:5px ;
    margin:5px ;
}

#homep{
    font-size:xx-small;
}
 

.mouseclick{

    padding-top: 30px;
    padding-bottom: 30px;

}

.aboutus{
    text-align: center;
    padding-top:50px ;
    padding-bottom: 50px;
    /* margin:5px ; */
}

.services{
    background-image: url(./images/s_image.jpg);
    text-align: center;
    padding-top:  50px ;
    padding-bottom: 60px;
     margin:5px ;
     color: white; 
}

.heading{
    text-align: center;
    text-size-adjust: 30px;
}

.container{
    text-align: center;
    padding-top: 20px;

}

.heading{
    padding-top: 30px;
    padding-bottom: 40px;
}

.portfolio{
    text-align: center;
}