 .body{
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;
     
 }


.home{
    background-image: url("./images/back.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
    
}

.homeheading{
    padding:5px ;
    margin:5px ;
}

#homep{
    font-size:xx-small;
}
 

.mouseclick{

    padding-top: 70px;
    padding-bottom: 30px;
    animation: bounce 2s infinite;

}

#about{
    text-align: center;
    padding-top:50px ;
    padding-bottom: 50px;
    /* margin:5px ; */
}

.services{
    background-image: url(./images/s_image.jpg);
    text-align: center;
    padding-top:  50px ;
    padding-bottom: 60px;
     margin:5px ;
     color: white; 
     background-size: cover;
     background-position: center center;
}

.heading{
    text-align: center;
    text-size-adjust: 30px;
}

.container{
    text-align: center;
    padding-top: 20px;

}

.heading{
    padding-top: 30px;
    padding-bottom: 40px;
}



.col-md-3{
    border-style: 5px;
}


#indesign{
    display: none;
}

#indevelopment{
    display: none;
}


#indesign{
    display: none;
}

#inproduct{
    display: none;
}

#inputs{
    font-family: 'Zilla Slab', ;
}

.formcontainer{
    background-image: url(../images/c_image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#submit{
    padding-bottom: 100px;
}




